{% extends 'base.html.twig' %}

{% block title %}Bidon index{% endblock %}

{% block body %}
    <h1>Bidon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Volume</th>
                <th>Composition</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bidon in bidons %}
            <tr>
                <td>{{ bidon.id }}</td>
                <td>{{ bidon.name }}</td>
                <td>{{ bidon.volume }}</td>
                <td>{{ bidon.composition ? bidon.composition|join(', ') : '' }}</td>
                <td>{{ bidon.createdAt ? bidon.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('bidon_show', {'id': bidon.id}) }}">show</a>
                    <a href="{{ path('bidon_edit', {'id': bidon.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bidon_new') }}">Create new</a>
{% endblock %}
